<div class="card-container">
  <a class="card card-small" (click)="getDeviceDetails()" tabindex="0">
    <span><h3>Device status</h3></span>
  </a>
  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <input name="deviceId" [(ngModel)]="deviceId" placeholder="Enter Device Id">
</div>


<div class="loading-spinner" *ngIf="loadingDevice">
  <br>
  <mat-progress-spinner mode="indeterminate" color="primary"  diameter="50" strokeWidth="8">
  </mat-progress-spinner>
</div>

<div class="content" role="main">
  <json-editor *ngIf="deviceDetails" class="w-100-p p-24" style="min-height: 80px;" [options]="editorOptions" [data]="deviceDetails"></json-editor>
</div>

<div class="loading-spinner" *ngIf="loadingMeta">
  <br>
  <mat-progress-spinner mode="indeterminate" color="primary"  diameter="50" strokeWidth="8">
  </mat-progress-spinner>
</div>

<!-- Start -->
<div *ngIf="deviceMetaDetails">
  <!-- <h3 style="margin-left: 240px;"> Send Command </h3> -->
    <form id = "eventSubmit" #eventSubmit = "ngForm" (ngSubmit) = "onCommandSubmit()">
      <fieldset>
        <label><b>Device Command</b></label>&nbsp;
        <label>Select device *</label>&nbsp;
        <select [(ngModel)]= "deviceId" name= "deviceId" (ngModelChange)="populateComponents()" required>
          <option [ngValue]="device.deviceId" *ngFor = "let device of devices">{{device.deviceLabelName}}</option>
        </select> &nbsp; &nbsp; <br> <br>

        <label>Component *</label>&nbsp;
        <select [(ngModel)]="deviceComponent" name= "component" (ngModelChange)="populateCapabilities()" required>
          <option [ngValue]="component" *ngFor = "let component of componentArray">{{component}}</option>
        </select> &nbsp; &nbsp;

        <label>Capability *</label>&nbsp;
        <select [(ngModel)]="deviceCapability" name= "capability" (ngModelChange)="populateAttributes()" required>
          <option [ngValue]="capability" *ngFor = "let capability of capabilityArray">{{capability}}</option>
        </select> &nbsp; &nbsp;

        <label>Attribute *</label>&nbsp;
        <select [(ngModel)]="deviceAttribute" name="attribute" required>
          <option [ngValue]="attribute" *ngFor = "let attribute of attributeArray">{{attribute}}</option>
        </select> &nbsp; &nbsp;

        <button class = "button" align = "center" type = "submit" value = "Submit" [disabled]="!eventSubmit.valid">Submit</button>

      </fieldset>
    </form>
</div>
<br>
<!-- End -->

<table *ngIf="deviceMetaDetails">
  <thead>
    <tr>
      <td><b>Device Id</b></td>
      <td><b>Device Name</b></td>
      <td><b>Device Type</b></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let device of deviceMetaDetails;">
      <td>{{device.deviceId}}</td>
      <td>{{device.deviceLabelName}}</td>
      <td>{{device.deviceTypeName}}</td>
    </tr>
  </tbody>
</table>
